body
{
	background: #f5f5f5;
}

h5
{
	font-weight: 400;
}

.container
{
	margin-top: 80px;
	width: 400px !important;
	padding: 0 !important;
    height: 700px;
    margin-bottom: 3%;
}

.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}