each post in mP
    .card.card_largest_with_image.grid-item
        img.card-img-top(src=''+post.postImageSrc+'')
        .card-body
            .card-title
                a(href=''+post.postLink+'')
                    | #{post.postTitle}
            p.card-text
                | #{post.postDescription}
                include ../OptionsBar.pug
            small.post_meta
                a(href='#') #{post.postSource}
                    span Sep 29, 2017 at 9:48 am