each data in scwI
    .card.card_small_with_image.grid-item
        img.card-img-top(src=''+data.postImageSrc+'')
        .card-body
            .card-title.card-title-small
                a(href=''+data.postLink+'')
                    | #{data.postTitle}
            small.post_meta
                a(href='#') #{data.postSource}
                span Sep 29, 2017 at 9:48 am