each post in scwiI
    .card.card_default.card_small_no_image.grid-item
        .card-body
            .card-title.card-title-small
                a(href=''+post.postLink+'')
                    | #{post.postTitle}
            include ../OptionsBar.pug
            small.post_meta
                a(href='#') #{post.postSource.slice(0,12)}
                span Sep 29, 2017 at 9:48 am