.section_tags.ml-auto
      ul
        li.active
          a(href='category.html') all
        li
          a(href='category.html') style hunter
        li
          a(href='category.html') vogue
        li
          a(href='category.html') health &amp; fitness
        li
          a(href='category.html') travel
.section_panel_more
    ul
        li
            | more
            ul
                li
                    a(href='category.html') new look 2018
                li
                    a(href='category.html') street fashion
                li
                    a(href='category.html') business
                li
                    a(href='category.html') recipes
                li
                    a(href='category.html') sport
                li
                    a(href='category.html') celebrities