.blog_section
  .section_panel.d-flex.flex-row.align-items-center.justify-content-start
    .section_title Don&apos;t Miss
    include DontMissComponents/Trends.pug
  .section_content
    .grid.clearfix
      //Main Post
      include DontMissComponents/MainPost.pug
      // Small Card Without Image
      include DontMissComponents/SmallCardNoImage.pug
      // Small Card With Background
      include DontMissComponents/SmallCardBackground.pug
      // Small Card With Image
      include DontMissComponents/SmallCardImage.pug
      // Default Card No Image
      include DontMissComponents/DefaultCardNoImage.pug