footer.footer
    .container
      .row.row-lg-eq-height
        .col-lg-9.order-lg-1.order-2
          .footer_content
            .footer_logo
              a(href='#') SpoonFeed
            .footer_social
              ul
                li.footer_social_facebook
                  a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                li.footer_social_twitter
                  a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                li.footer_social_pinterest
                  a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                li.footer_social_vimeo
                  a(href='#')
                    i.fa.fa-vimeo(aria-hidden='true')
                li.footer_social_instagram
                  a(href='#')
                    i.fa.fa-instagram(aria-hidden='true')
                li.footer_social_google
                  a(href='#')
                    i.fa.fa-google(aria-hidden='true')
            .copyright
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        .col-lg-3.order-lg-2.order-1
          .subscribe
            .subscribe_background
            .subscribe_content
              .subscribe_title Subscribe
              form(action='#')
                input.sub_input(type='email' placeholder='Your Email' required='required')
                button.sub_button
                  svg#link_arrow_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='19px' height='13px' viewbox='0 0 19 13' enable-background='new 0 0 19 13' xml:space='preserve')
                    polygon(fill='#FFFFFF' points='12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 ')