// Header
header.header
  .container
    .row
      .col
        .header_content.d-flex.flex-row.align-items-center.justify-content-start
          .logo
            a(href='#') SpoonFeed
          nav.main_nav
            ul
              li.active
                a(href='index.html') Sports
              li
                a(href='#') Fashion
              li
                a(href='#') Gadgets
              li
                a(href='#') Lifestyle
              li
                a(href='#') Video
              li
                a(href='contact.html') Contact
          .search_container.ml-auto
            .weather
              .temperature +10&deg;
              img.weather_icon(src='images/cloud.png' alt='')
            form(action='#')
              input.header_search_input(type='search' required='required' placeholder='Type to Search...')
              img.header_search_icon(src='images/search.png' alt='')
          .hamburger.ml-auto.menu_mm
            i.fa.fa-bars.trans_200.menu_mm(aria-hidden='true')
// Menu
.menu.d-flex.flex-column.align-items-end.justify-content-start.text-right.menu_mm.trans_400
  .menu_close_container
    .menu_close
      div
      div
  .logo.menu_mm
    a(href='#') 
  .search
    form(action='#')
      input.header_search_input.menu_mm(type='search' required='required' placeholder='Type to Search...')
      img.header_search_icon.menu_mm(src='images/search_2.png' alt='')
  nav.menu_nav
    ul.menu_mm
      li.menu_mm
        a(href='index.html') home
      li.menu_mm
        a(href='#') Fashion
      li.menu_mm
        a(href='#') Gadgets
      li.menu_mm
        a(href='#') Lifestyle
      li.menu_mm
        a(href='#') Video
      li.menu_mm
        a(href='contact.html') Contact
// Home
.home
  // Home Slider
  .home_slider_container
    .owl-carousel.owl-theme.home_slider
        each post in hP
          .owl-item
            .home_slider_background(style="background-image:url('"+post.postImageSrc+"')")
            .header-mask
            .home_slider_content_container
              .container
                .row
                  .col
                    .home_slider_content
                      .home_slider_item_category.trans_200
                        a.trans_200(href='category.html')= post.postSource 
                      .home_slider_item_title
                        a(href='post.html')
                          | #{post.postTitle}
                      .home_slider_item_link
                        a.trans_200(href=''+post.postLink+'')
                          | Continue Reading
                          svg#link_arrow_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='19px' height='13px' viewbox='0 0 19 13' enable-background='new 0 0 19 13' xml:space='preserve')
                            polygon(fill='#FFFFFF' points='12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 ')
            // Similar Posts
            .similar_posts_container
              .container
                .row.d-flex.flex-row.align-items-end
                  each post in hP
                    // Similar Post
                    .col-lg-3.col-md-6.similar_post_col
                      .similar_post.trans_200
                        a(href=''+post.postLink+'') #{post.postTitle}
    .custom_nav_container.home_slider_nav_container
      .custom_prev.custom_prev_home_slider
        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
          polyline(fill='#FFFFFF' points='0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 ')
      ul#custom_dots.custom_dots.custom_dots_home_slider
        li.custom_dot.custom_dot_home_slider.active
          span
        li.custom_dot.custom_dot_home_slider
          span
        li.custom_dot.custom_dot_home_slider
          span
      .custom_next.custom_next_home_slider
        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
          polyline(fill='#FFFFFF' points='6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 ')