.blog_section
  .section_panel.d-flex.flex-row.align-items-center.justify-content-start
    .section_title Latest Articles
  .section_content
    .grid.clearfix
      // Small Card With Image
      .card.card_small_with_image.grid-item
        img.card-img-top(src='images/post_10.jpg' alt='')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card Without Image
      .card.card_default.card_small_no_image.grid-item
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card With Image
      .card.card_small_with_image.grid-item
        img.card-img-top(src='images/post_15.jpg' alt='')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card With Image
      .card.card_small_with_image.grid-item
        img.card-img-top(src='images/post_13.jpg' alt='https://unsplash.com/@jakobowens1')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card With Background
      .card.card_default.card_small_with_background.grid-item
        .card_background(style='background-image:url(images/post_11.jpg)')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card With Background
      .card.card_default.card_small_with_background.grid-item
        .card_background(style='background-image:url(images/post_16.jpg)')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card With Image
      .card.card_small_with_image.grid-item
        img.card-img-top(src='images/post_14.jpg' alt='')
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card Without Image
      .card.card_default.card_small_no_image.grid-item
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Small Card Without Image
      .card.card_default.card_small_no_image.grid-item
        .card-body
          .card-title.card-title-small
            a(href='post.html')
              | How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most Complex Concepts in Physics?
          small.post_meta
            a(href='#') Katy Liu
            span Sep 29, 2017 at 9:48 am
      // Default Card With Background
      .card.card_default.card_default_with_background.grid-item
        .card_background(style='background-image:url(images/post_12.jpg)')
        .card-body
          .card-title.card-title-small
            a(href='post.html') How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most
      // Default Card With Background
      .card.card_default.card_default_with_background.grid-item
        .card_background(style='background-image:url(images/post_6.jpg)')
        .card-body
          .card-title.card-title-small
            a(href='post.html') How Did van Gogh&rsquo;s Turbulent Mind Depict One of the Most