.col-lg-3
  .sidebar
    .sidebar_background
    // Top Stories
    .sidebar_section
      .sidebar_title_container
        .sidebar_title Top Stories
        .sidebar_slider_nav
          .custom_nav_container.sidebar_slider_nav_container
            .custom_prev.custom_prev_top
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 ')
            ul#custom_dots.custom_dots.custom_dots_top
              li.custom_dot.custom_dot_top.active
                span
              li.custom_dot.custom_dot_top
                span
              li.custom_dot.custom_dot_top
                span
            .custom_next.custom_next_top
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 ')
      .sidebar_section_content
        // Top Stories Slider
        .sidebar_slider_container
          .owl-carousel.owl-theme.sidebar_slider_top
            // Top Stories Slider Item
            .owl-item
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Top Stories Slider Item
            .owl-item
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Top Stories Slider Item
            .owl-item
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Sidebar Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/top_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
    // Advertising
    .sidebar_section
      .advertising
        .advertising_background(style='background-image:url(images/post_17.jpg)')
        .advertising_content.d-flex.flex-column.align-items-start.justify-content-end
          .advertising_perc -15%
          .advertising_link
            a(href='#') How Did van Gogh&rsquo;s Turbulent Mind
    // Newest Videos
    .sidebar_section.newest_videos
      .sidebar_title_container
        .sidebar_title Newest Videos
        .sidebar_slider_nav
          .custom_nav_container.sidebar_slider_nav_container
            .custom_prev.custom_prev_vid
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 ')
            ul#custom_dots.custom_dots.custom_dots_vid
              li.custom_dot.custom_dot_vid.active
                span
              li.custom_dot.custom_dot_vid
                span
              li.custom_dot.custom_dot_vid
                span
            .custom_next.custom_next_vid
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 ')
      .sidebar_section_content
        // Sidebar Slider
        .sidebar_slider_container
          .owl-carousel.owl-theme.sidebar_slider_vid
            // Newest Videos Slider Item
            .owl-item
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Newest Videos Slider Item
            .owl-item
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Newest Videos Slider Item
            .owl-item
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_1.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_2.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_3.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Newest Videos Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .side_post_image
                      div
                        img(src='images/vid_4.jpg' alt='')
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
    // Advertising 2
    .sidebar_section
      .advertising_2
        .advertising_background(style='background-image:url(images/post_18.jpg)')
        .advertising_2_content.d-flex.flex-column.align-items-center.justify-content-center
          .advertising_2_link
            a(href='#')
              | Turbulent 
              span Mind
    // Future Events
    .sidebar_section.future_events
      .sidebar_title_container
        .sidebar_title Future Events
        .sidebar_slider_nav
          .custom_nav_container.sidebar_slider_nav_container
            .custom_prev.custom_prev_events
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 ')
            ul#custom_dots.custom_dots.custom_dots_events
              li.custom_dot.custom_dot_events.active
                span
              li.custom_dot.custom_dot_events
                span
              li.custom_dot.custom_dot_events
                span
            .custom_next.custom_next_events
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7px' height='12px' viewbox='0 0 7 12' enable-background='new 0 0 7 12' xml:space='preserve')
                polyline(fill='#bebebe' points='6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 ')
      .sidebar_section_content
        // Sidebar Slider
        .sidebar_slider_container
          .owl-carousel.owl-theme.sidebar_slider_events
            // Future Events Slider Item
            .owl-item
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 13
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 27
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 02
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 09
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Future Events Slider Item
            .owl-item
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 13
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 27
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 02
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 09
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
            // Future Events Slider Item
            .owl-item
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 13
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 27
                      .event_month apr
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 02
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29
              // Future Events Post
              .side_post
                a(href='post.html')
                  .d-flex.flex-row.align-items-xl-center.align-items-start.justify-content-start
                    .event_date.d-flex.flex-column.align-items-center.justify-content-center
                      .event_day 09
                      .event_month may
                    .side_post_content
                      .side_post_title How Did van Gogh&rsquo;s Turbulent Mind
                      small.post_meta
                        | Katy Liu
                        span Sep 29