.blog_section
  .section_panel.d-flex.flex-row.align-items-center.justify-content-start
    .section_title Most Popular Videos
  .section_content
    .row
      .col
        .videos
          .player_container
            #P1.player(data-property="{videoURL:'2ScS5kwm7nI',containment:'self',startAt:0,mute:false,autoPlay:false,loop:false,opacity:1}")
          .playlist
            .playlist_background
            // Video
            .video_container.video_command.active(onclick="jQuery('#P1').YTPChangeVideo({videoURL: '2ScS5kwm7nI', mute:false, addRaster:true})")
              .video.d-flex.flex-row.align-items-center.justify-content-start
                .video_image
                  div
                    img(src='images/video_1.jpg' alt='')
                  img.play_img(src='images/play.png' alt='')
                .video_content
                  .video_title How Did van Gogh&rsquo;s Turbulent Mind
                  .video_info
                    span 1.2M views
                    span Sep 29
            // Video
            .video_container.video_command(onclick="jQuery('#P1').YTPChangeVideo({videoURL: 'BzMLA8YIgG0', mute:false, addRaster:true})")
              .video.d-flex.flex-row.align-items-center.justify-content-start
                .video_image
                  div
                    img(src='images/video_2.jpg' alt='')
                  img.play_img(src='images/play.png' alt='')
                .video_content
                  .video_title How Did van Gogh&rsquo;s Turbulent Mind
                  .video_info
                    span 1.2M views
                    span Sep 29
            // Video
            .video_container.video_command(onclick="jQuery('#P1').YTPChangeVideo({videoURL: 'bpbcSdqvtUQ', mute:false, addRaster:true})")
              .video.d-flex.flex-row.align-items-center.justify-content-start
                .video_image
                  div
                    img(src='images/video_3.jpg' alt='')
                  img.play_img(src='images/play.png' alt='')
                .video_content
                  .video_title How Did van Gogh&rsquo;s Turbulent Mind
                  .video_info
                    span 1.2M views
                    span Sep 29
            // Video
            .video_container.video_command(onclick="jQuery('#P1').YTPChangeVideo({videoURL: 'UjYemgbhJF0', mute:false, addRaster:true})")
              .video.d-flex.flex-row.align-items-center.justify-content-start
                .video_image
                  div
                    img(src='images/video_4.jpg' alt='')
                  img.play_img(src='images/play.png' alt='')
                .video_content
                  .video_title How Did van Gogh&rsquo;s Turbulent Mind
                  .video_info
                    span 1.2M views
                    span Sep 29